*{
    margin: 0;
}
.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal
    "wdth" 100;
}

/* header styles */
.header-title{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 22px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    
}

.icon-container{
    display: flex;
    gap: 3rem;
    margin-top: 35px;
}
.dot-option{
    display: flex;
    gap: 3rem;
}

.icon-img img{
    width: 8.40rem;
    height: 5.10rem;
}

.unknown-color{
    color: #252432;
}

.fade-color{
    color: #8987A1;
}

/* shared styles */
.color-orange{
    color: #E95A08;
}
.black{
    color: black;
}

/* banner-styles */
.banner-title{
    max-width: 1540px;
    margin:0 auto;
    margin-top: 250px;
}


.banner-item{
    display: flex;
    justify-content: space-between;
}

.title-style{
    font-size: 65px;
    font-weight: bold;
    
}
.banner-description{
    font-size: 22px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}


/* responsive for smaller devices */


@media screen and (max-width:576px) {
    .dot-option{
       display: none;
       
      
    }
    
    .icon-img img{
        width:3.90rem;
        height: 2.35rem;
    }
.header-container{
   
      margin-left:-135px ;
      margin-right: -135px;
}
    .icon-img{
        margin-top: 20px;
    }

    .banner-item{
        flex-direction: column-reverse;
        margin-top: -225px;
    }
    
     .banner-img img{
        width: 100%;
     }
     .banner-child{
        margin: 0 16px;
     }
     .title-style{
        font-size: 24px;
        margin-top: 25px;
        
     }

     .banner-description{
        font-size: 14px;
        margin-top: 10px;
     }
}