*{
    margin: 0;
}
.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: normal
    "wdth" 100;
}

/* header styles */
.header-title{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 22px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    
}

.icon-container{
    display: flex;
    gap: 3rem;
    margin-top: 35px;
}
.dot-option{
    display: flex;
    gap: 3rem;
}

.icon-img img{
    width: 8.40rem;
    height: 5.10rem;
}

.unknown-color{
    color: #252432;
}

.fade-color{
    color: #8987A1;
}

/* shared styles */
.color-orange{
    color: #E95A08;
}
.black{
    color: black;
}
/* .box{
    border: 2px solid tomato;
} */
 .margin-center{
    /* margin-top: 50px */
 }


/* banner-styles */
.banner-title{
    max-width: 1540px;
    margin:0 auto;
    margin-top: 250px;
}


.banner-item{
    display: flex;
    justify-content: space-between;
}

.title-style{
    font-size: 65px;
    font-weight: bold;
    
}
.banner-description{
    font-size: 22px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.5);
}


/* main card styles */

.main-card-header{
    max-width: 1540px;
    margin: 0 auto;
    margin-top: 120px;
}
.top-title h2{
     text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.top-title p{
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);

}

.card-container{
 display: flex;
 gap: 50px;
 flex-wrap: wrap;
 justify-content: center;
margin-top: 45px;  
}

.card-title{
    font-size: 22px;
    font-weight: 500;
    margin-top: 20px;
}

.card-price{
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-primary{
    background-color: #E95A08;
    padding: 1.625rem 3.125rem;
    color: white;
    border: none;
    margin-top: 30px;
}

/* lover styles */
.lover-header{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 200px;
   
}

.lover-title{
    display: flex;
    gap: 60px;
    align-items: center;
   justify-content: center;
}

.lover-container{
  margin-bottom: 240px;
}

.flower-title{
    font-size: 50px;
    font-weight: bold;
   
}

.flower-list{
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
   
}
.lover-image{
   margin-top: 100px;
}
#trust-image img{
    width: 250px;
    height: 250px;
   position: relative;
   left: 400px;
   bottom:710px;
}


/* deal-section styles */
/* .deal-section{
    width: 100%;
    margin: 0 auto;
} */
.deal-header{
    text-align: center;
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.deal-header p{
    /* max-width: 880px; */
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

.deal-header h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
}

.discount-header{
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
}


.discount-title-same{
    width: 360px;
    height: 200px;
    border-radius: 15px;
    background-image: url(../images/deal-bloom.png);
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}
.discount-title{
    width: 360px;
    height: 200px;
    border-radius: 16px;
    background-image: url(../images/deal-ana.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discount-title-big{
    width: 46.25rem;
    height: 25.625rem;
     border-radius: 15px;
    background-image: url(../images/deal-zabo.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.discount-title-same h2{
    color: white;
    font-size: 20px;
    font-weight: bold;

    
    
    

}

.discount-title-same p{
    color: white;
    font-size: 16px;
    font-weight: 600;
   
}

.discount-title h2{
    color: white;
    font-size: 20px;
    font-weight: bold;

}

.discount-title p{
     color: white;
    font-size: 16px;
    font-weight: 600
}

.discount-title-big {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.discount-title-big p{
    font-size: 28px;
    font-weight: 600;
}

/* responsive for smaller devices */


@media screen and (max-width:576px) {
    .dot-option{
       display: none;
       
      
    }
    
    .icon-img img{
        width:3.90rem;
        height: 2.35rem;
    }
.header-container{
   
      margin-left:-135px ;
      margin-right: -135px;
}
    .icon-img{
        margin-top: 20px;
    }

    .banner-item{
        flex-direction: column-reverse;
        margin-top: -225px;
    }
    
     .banner-img img{
        width: 100%;
     }
     .banner-child{
        margin: 0 16px;
     }
     .title-style{
        font-size: 24px;
        margin-top: 25px;
        
     }

     .banner-description{
        font-size: 14px;
        margin-top: 10px;
     }

     /* card responsive styles */

     .main-card-header{
        width: 100%;
      
        margin-top: 60px;
      
     }

     .top-title h2{
        font-size: 24px;
     }

     .top-title p{
        font-size: 14px;
       
     }
     
     .card-container{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 150px);
       
     }

     .card-container img{
        width: 100%;
       
     }
       .card-title{
        font-size: 16px;
       }

       .card-price{
        font-size: 16px;
       }

       .btn-primary{
        font-size: 8px;
        padding: 13px 25px;
       }
    
       /* lover responsive styles */

       .lover-title{
        flex-direction: column;
       }

       #trust-image img{
        display: none;
       }
       .flower-store{
        width: 90%;
        margin-left: 20px;
       }

       .flower-title{
        font-size: 24px;
        margin-left: 15px;
       }
       .flower-list{
        font-size: 14px;
       }

       /* discount item responsive styles */
       .deal-header{
        width: 340px;
       }
       .deal-header h2{
        font-size: 24px;
       }

       .deal-header p{
        font-size: 10px;
        margin-left: 7px;
       }

       .discount-header{
        flex-direction: column;
        margin-top: 20px;
       }
       .discount-title{
         width: 20rem;
        height: 11.5rem;
       }
       .discount-title-same{
         width: 20rem;
        height: 11.5rem;
       }

       .discount-title-big{
         width: 20rem;
        height: 11.5rem;
         margin-bottom: 200px;
        
       }
       .discount-title-big h2{
        font-size: 20px;
        
       }

       .discount-title-big p{
        font-size: 16px;
       }
}
